$grey-light: #b4b2b0;
$blue-light: #58b4e5;
$grey: #808080;
$grey-lighter: #f1f1f1;
$font-grey: #c4c4c4;
$bg-white: #ffffff;
$h4-color: #636363;
$blue-title: #63b8e5;
$color-grey-dark: #a8a9a9;
$color-grey-very-light: #fafafa;
.grey {
    color: $grey;
}

.bg-grey-lighter {
    background: $grey-lighter;
}
